.navbar-main {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.navbar-brand .brand-name {
    margin-left: 5px;
    color: black;
}

/* name-logo */
#icon {
    color: #007bff;
}

/* home bar links */
.nav-link {
    color: black;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}

/* home bar links:hover */
.nav-item .nav-link:hover {
    color: white;
    background-color: #007bff;
    border-radius: 5px;
}