.main-container{
    background-color: rgb(255, 247, 237);
    padding:20px;
    height: 120vh;
}
@media only screen and  (min-width: 768px){
	.main-container{
        margin-left: 16%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 828px){
	.main-container{
        margin-left: 25%;
    }
}
@media only screen and (min-width: 0px) and (max-width:768px){
	.main-container{
        margin-left: 25%;
    }
}
@media(max-width:767px){
    .main-container{
        margin: 0;
    }
}
