.footer-upper-conatiner {
    margin-top: 50px;
    background-color: #556e8b;
    height: 60px;
    cursor: pointer;
}

.footer-upper-conatiner:hover {
    background-color: rgb(99, 123, 148);
}

.footer-conatiner {
    background-color: #223953;
}

.footer-conatiner .social-media-icons {
    color: white;
    margin-right: 15px;
    font-size: 30px;
}

.footer-conatiner .social-media-icons:hover {
    color: #007bff;
}
.footer-lower-conatiner{
    background-color: #122133;
    height: 60px;
}
#admin-link{
    position: absolute;
    right: 40px;
    font-size: 20px;
    bottom: 10px;
    color: white;
}

