.main-body .login-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.main-body .login-container .left-part {
    background-color: #007bff;
    height: 100%;
    width: 60%;
    z-index: 1;
}

.main-body .login-container .right-part {
    background-color: white;
    height: 100%;
    width: 40%;
    font-size: 20px;
    padding-top: 80px;
    padding-left: 20px;
    position: relative;
}

.login-container .left-part .msg {
    position: absolute;
    color: white;
    z-index: 2;
    font-size: 20px;
    top: 2%;
    left: 1%;
    font-weight: 10;
}


.login-container .left-part img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}


.login-container .right-part h1 {
    font-size: 30px;
}

.login-form .login-group input {
    width: 450px;
    border: none;
    border-left: 10px solid #007bff;
    background-color: #EEEEEE;
    height: 40px;
}


.login-form .login-group input:hover {
    border-left: 10px solid #007bff;
    background-color: #EEEEEE;
}

.submit-button {
    width: 140px;
}

.login-label {
    font-size: 15px;
}

.footer-text .text {
    font-size: 15px;
}
.eye-symbol-login{
    position: absolute;
    left: 400px;
    top: 45px;
    color: rgb(90, 90, 90);
}
.mandatory-field{
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    display: none;
}
@media(max-width:1075px) {
    .login-container .left-part img {
        object-fit: cover;
    }
    .main-body .login-form .login-group input {
        width: 350px;
    }
}
@media(max-width:950px) {
    .login-container .left-part img {
        object-fit: cover;
    }
    .main-body .login-form .login-group input {
        width: 250px;
    }
}
@media(width:912px) {
    .login-container .left-part img {
        object-fit: cover;
    }
    .main-body .login-form .login-group input {
        width: 300px;
    }
}
@media(width:540px) {
    .login-container .left-part img {
        object-fit: cover;
    }
    .main-body .login-form .login-group input {
        width: 150px;
    }
}
@media(max-width:450px) {
    .main-body .login-container .left-part {
        width: 40%;
    }

    .main-body .login-container .right-part {
        width: 60%;
    }

    .main-body .login-form .login-group input {
        width: 200px;
    }

    .login-container .left-part img {
        object-fit: cover;
    }

    .footer-text {
        max-width: 1000px;
        font-size: 5px;
    }
}
@media(width:375px) {
    
    .main-body .login-form .login-group input {
        width: 150px;
    }
    .login-container .left-part img {
        object-fit: cover;
    }

}
@media(max-width:400px) {
    .main-body .login-form .login-group input {
        width: 170px;
    }
    .login-container .left-part img {
        object-fit: cover;
    }
}
@media(max-width:600px) {
    .main-body .login-container .left-part .msg{
        font-size: 10px;
    }
    .footer-text{
        max-width: 200px;
        font-size: 5px;
    }
}

